.home-img {
  width: 100%;
}

.home-banner {
  background-color: #2faae5;
}

.padding-0 {
  padding-right: 0;
  padding-left: 0;
}

.home-banner div {
  background-color: white;
  display: inline-block;
  background: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(40px);
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  padding-top: 70px;
  height: 300px;
  width: 540px;
}

.home-banner h2 {
  font-size: 40px;
  font-family: "Merriweather", serif;
}

.home-banner button {
  background-color: #f87433;
  color: white;
  border: none;
  padding: 12px 30px;
  border-radius: 10px;
}

@media (max-width: 400px) {
  .home-banner div {
    display: block;
    width: 100%;
  }
}
