.home-img {
  width: 100%;
}

.home-banner {
  background-color: #2faae5;
}

.padding-0 {
  padding-right: 0;
  padding-left: 0;
}

.home-banner div {
  background-color: white;
  display: inline-block;
  background: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(40px);
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  padding-top: 70px;
  height: 300px;
  width: 540px;
}

.home-banner h2 {
  font-size: 40px;
  font-family: "Merriweather", serif;
}

.home-banner button {
  background-color: #f87433;
  color: white;
  border: none;
  padding: 12px 30px;
  border-radius: 10px;
}

.Works {
  padding-top: 140px;
  padding-bottom: 140px;
}

.Works h2 {
  font-family: "Merriweather", serif;
  font-weight: bold;
  font-size: 32px;
  line-height: 40px;
}

.Works h3 {
  font-family: "Merriweather", serif;
  font-weight: bold;
  font-size: 24px;
  line-height: 34px;
}

.benifits-section {
  text-align: center;
  background-color: #dbf0fa;
}

.benifits-section h1 {
  font-family: "Merriweather", serif;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 40px;
  padding-top: 100px;
  padding-bottom: 100px;
}

.icons-container {
  margin-top: -80px;
}

.icon-background {
  background-color: #f1f9fd;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
}

.icons {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 40px;
}

.arrow {
  font-size: 50px;
  margin-top: 30px;
  color: #f87433;
}

.benifits-columns {
  background-color: #ffffff;
}

.Works .row {
  padding-top: 100px;
}

.relieve-section {
  padding-top: 100px;
}

.relieve-section h1 {
  font-family: "Merriweather", serif;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 40px;
  padding-bottom: 20px;
}

.relieve-section h4 {
  font-family: "Nunito Sans", sans-serif;
  font-weight: bold;
  font-size: 24px;
  line-height: 33px;
  padding-top: 20px;
}

.relieve-image {
  width: 100%;
  border-radius: 10px;
  height: 290px;
}

.relieve-image-section {
  padding-top: 50px;
}

.down-arrow {
  display: none;
}

@media (max-width: 400px) {
  .home-banner div {
    display: block;
    width: 100%;
  }
}

@media (max-width: 700px) {
  .right-arrow {
    display: none;
  }
  .down-arrow {
    display: block;
    margin-top: 70px;
  }
}
