/*this left box is for styling the box with image in the background */
.left {
  background-image: url(../../Pictures/hunter-newton--xNgyZfX1gs-unsplash.jpg);
  background-size: 100% 100%;
  width: 50%;
  float: left;
  height: 300px;
  background-repeat: no-repeat;
}

/* this is the right div */
.right {
  width: 50%;
  float: left;
  height: 300px;
  background-color: #0099ff;
}

/* the box in the right div */
.centerDiv {
  background-color: white;
  height: 200px;
  width: 30%;
  text-align: center;
}
.col-example {
  background-color: white;
  border: 2px solid #fff;
  color: black;
  justify-content: center;
  display: inline-block;
  margin: 0 auto;
  margin-top: 90px;
  border-radius: 5px;
  width: 300px;
  height: 150px;
}

.Para {
  font: Merriweather;
  weight: 400;
  style: normal;
  size: 36px;
  line-height: 52px;
  letter: 0.5%;
  align: Center;
  color: black;
}
/* Second Div of fledge box */
.d-flex div {
  padding: 1rem;
  border: 2px solid #fff;
  color: black;
  text-align: center;
}
.text {
  weight: 900px;
  size: 46px;
  color: black;
}

/* benefits section */
.benefits {
  background-color: #d3edf6;
  height: 800px;
}
.row1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.box {
  background-color: #fff;
  padding: 50px;
  margin: 10px;
  border-radius: 12px;
}
.heading {
  font-weight: bold;
  color: black;
  margin-left: 49px;
  padding-top: 30px;
}
/* Paragraph  in the box*/
.Text {
  padding: 20px;
  font-size: 12px;
  line-height: 20px;
  /* or 167% */

  text-align: center;
}
/* Relieve you page */
.block1 {
  background-image: url(../../Pictures/kelly-sikkema-5R5Trsu1aIM-unsplash.jpg);
  height: 200px;
  background-size: 100% 100%;
  padding: 25px;
  margin: 30px;
  border-radius: 12px;
}
.block2 {
  background-image: url(../../Pictures/kelli-mcclintock-GopRYASfsOc-unsplash.jpg);
  height: 200px;
  background-size: 100% 100%;
  padding: 25px;
  margin: 30px;
  border-radius: 12px;
}
.block3 {
  background-image: url(../../Pictures/magic-mind-OSk4lO--UsA-unsplash.jpg);
  height: 200px;
  background-size: 100% 100%;
  padding: 25px;
  margin: 30px;
  border-radius: 12px;
}
.block4 {
  background-image: url(../../Pictures/girl-with-red-hat-Epw-SqZYeyw-unsplash.jpg);
  height: 200px;
  background-size: 100% 100%;
  padding: 25px;
  margin: 30px;
  border-radius: 12px;
}
.Relievepara {
  font-size: 13px;
  line-height: 20px;
  padding: 25px;
}
