/* Question div */
/* the div about the question */
.mainDiv{
    margin-top:15%
}
.questionDiv{
    justify-content:center;
    width:70%;
    background-color: #F6FBFE;;
    margin-left: 15%;
    box-sizing: border-box;
border-radius: 10px;
    text-align: left;
    color: black;  
    border: 1px solid black; 
    
}
.answerDiv{
    width:100%;
   padding: 2px;
    text-align: left;
    background-color: #FAFDFE;
    color:#70717B;
    

}
.text1{  
    padding:2px;
    margin:3px;
    margin-left: 5px;
    color:black;
     
}
.activeText1{
    padding:2px;
    margin:3px;
    margin-left: 5px;
    color:#F87433;
}
.styleQuestion{
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;

}