/* Question div */
/* the div about the question */
.mainDiv {
  margin-top: 15%;
}
.questionDiv {
  justify-content: center;
  width: 70%;
  background-color: #f6fbfe;
  margin-left: 15%;
  box-sizing: border-box;
  border-radius: 10px;
  text-align: left;
  color: black;
  border: 1px solid black;
}
.answerDiv {
  width: 100%;
  padding: 2px;
  text-align: left;
  background-color: #fafdfe;
  color: #70717b;
}
.text1 {
  padding: 2px;
  margin: 3px;
  margin-left: 5px;
  color: #1f3347;
}
.activeText1 {
  padding: 2px;
  margin: 3px;
  margin-left: 5px;
  color: #f87433;
}
.styleQuestion {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
}
