.personalInfo {
  background: #f6fbfe;
  float: left;
 text-align: left;
  width: 1160px;
  height: 319px;
  margin-left: 80px;
  border-radius: 20px;
}
.styleHeading{
  margin-top: 30px;
}
.checkboxes{
   
    margin-left: 40px;
}
.input{
  background: #f6fbfe;  
  width:80%;
  border: 1px solid #DADADD;
box-sizing: border-box;
border-radius: 10px;
margin-left: 20px;
height:50px;
}
/* Second Row */
.secondDiv{
  margin-top: 1%;
}
.input1{
  background: #f6fbfe;  
  width:90%;
  border: 1px solid #DADADD;
box-sizing: border-box;
border-radius: 10px;
margin-left: 20px;
height:50px;
}
.input2{
  background: #f6fbfe;  
  width:45%;
  border: 1px solid #DADADD;
box-sizing: border-box;
border-radius: 10px;
margin-left: 20px;
height:50px;
}
.input3{
  background: #f6fbfe;  
  width:45%;
  border: 1px solid #DADADD;
box-sizing: border-box;
border-radius: 10px;
margin-left: 20px;
height:50px;
}
.input4{
  background: #f6fbfe;  
  width:90%;
  border: 1px solid #DADADD;
box-sizing: border-box;
border-radius: 10px;
margin-left: 20px;
height:50px;
}
/* Care level box */
.Carelevel {
  background: #f6fbfe;
  float: left;
 text-align: left;
  width: 1160px;
  height: 200px;
  margin-left: 80px;
  border-radius: 20px;
  margin-top: 9px;
}
.Carelevelinner{
   
  margin-left: 40px;
}
.Buttoncontainer{
  margin-top: 3%;
}

/* button component */
.buttonDiv2{
  border-radius: 15px;
  background: #f6fbfe;  
  width:100%;
  height: 50px;
  border: 1px solid #DADADD;
  font-family: Nunito Sans;
font-style: normal;
font-weight: 600;
font-size: 16px;
color: #1F3347;
text-transform: uppercase;

}
.buttonDiv3{
  border-radius: 15px;
  background: #2FAAE5;
  width:100%;
  height: 50px;
  border: 1px solid #DADADD;
  font-family: Nunito Sans;
font-style: normal;
font-weight: 600;
font-size: 16px;
color: #1F3347;
text-transform: uppercase;

}

/* Contact Info */
.ContactInfo {
  background: #f6fbfe;
  float: left;
 text-align: left;
  width: 1160px;
  height: 200px;
  margin-left: 80px;
  border-radius: 20px;
  margin-top: 9px;
}
.contactContainer{
  margin-top: 3%;
}
.innercontact{
  
  margin-left: 40px;
}

/* Note Div */
.NoteDiv{
  background: #f6fbfe;
  float: left;
 text-align: left;
  width: 1160px;
  height: 400px;
  margin-left: 80px;
  border-radius: 20px;
  margin-top: 9px;
}

.area{
  background: #f6fbfe;  
  width:90%;
  border: 1px solid #DADADD;
box-sizing: border-box;
border-radius: 10px;
margin-left: 20px;
height:300px;
}
@media (min-width:300px) and (max-width:600px) {
  
}