.personalInfo {
  background: #f6fbfe;
  float: left;
  text-align: left;
  width: 100%;
  border-radius: 20px;
  padding: 20px 20px 30px;
}

input {
  width: 100%;
  margin: 0 !important;
}

.styleHeading {
  margin-top: 30px;
}

.input {
  background: #f6fbfe;

  border: 1px solid #dadadd;
  box-sizing: border-box;
  border-radius: 10px;
  margin-left: 20px;
  height: 50px;
}

/* Second Row */
.secondDiv {
  margin-top: 1%;
}
.input1 {
  background: #f6fbfe;

  border: 1px solid #dadadd;
  box-sizing: border-box;
  border-radius: 10px;
  margin-left: 20px;
  height: 50px;
}
.input2 {
  background: #f6fbfe;

  border: 1px solid #dadadd;
  box-sizing: border-box;
  border-radius: 10px;
  margin-left: 20px;
  height: 50px;
}
.input3 {
  background: #f6fbfe;

  border: 1px solid #dadadd;
  box-sizing: border-box;
  border-radius: 10px;
  margin-left: 20px;
  height: 50px;
}
.input4 {
  background: #f6fbfe;

  border: 1px solid #dadadd;
  box-sizing: border-box;
  border-radius: 10px;
  margin-left: 20px;
  height: 50px;
}
/* Care level box */
.Carelevel {
  background: #f6fbfe;
  float: left;
  text-align: left;
  width: 90%;
  height: 150px;
  margin-left: 80px;
  border-radius: 20px;
  margin-top: 9px;
}
.Carelevelinner {
  text-align: center;
}
.Buttoncontainer {
  margin-top: 3%;
}
.styleHeadingCare {
  margin-top: 30px;
  margin-left: 40px;
}
/* button component */
.buttonDiv2 {
  border-radius: 15px;
  background: #f6fbfe;
  width: 100%;
  height: 50px;
  border: 1px solid #dadadd;
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  color: #1f3347;
  text-transform: uppercase;
}
.buttonDiv3 {
  border-radius: 15px;
  background: #2faae5;
  width: 100%;
  height: 50px;
  border: 1px solid #dadadd;
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  color: #1f3347;
  text-transform: uppercase;
}

/* Contact Info */
.ContactInfo {
  background: #f6fbfe;
  float: left;
  text-align: left;
  width: 100%;
  height: 200px;

  border-radius: 20px;
  margin-top: 9px;
}
.contactContainer {
  margin-top: 3%;
}
.innercontact {
  margin-left: 0px;
}
.styleHeadingContact {
  margin-top: 30px;
  margin-left: 40px;
}

/* Note Div */
.NoteDiv {
  background: #f6fbfe;
  float: left;
  text-align: left;
  width: 100%;
  border-radius: 20px;
  margin-top: 9px;
}
.styleHeadingNote {
  margin-top: 30px;
  margin-left: 40px;
}

.area {
  background: #f6fbfe;
  width: 100%;
  border: 1px solid #dadadd;
  box-sizing: border-box;
  border-radius: 10px;

  height: 300px;
}
.separateCheckbox {
  margin-top: 5%;
}

@media (min-width: 500px) and (max-width: 800px) {
  .mainDiv {
    margin-left: 10px;
  }
  .personalInfo {
    background: #f6fbfe;
    float: left;
    text-align: left;
    width: 100%;
    height: 500px;
    margin-left: 10px;
    border-radius: 20px;
  }
  .Carelevel {
    background: #f6fbfe;
    float: left;
    text-align: left;
    width: 85%;
    height: 400px;
    margin-left: 10px;
    border-radius: 20px;
    margin-top: 9px;
  }
  .ContactInfo {
    background: #f6fbfe;
    float: left;
    text-align: left;
    width: 85%;
    height: 300px;
    margin-left: 10px;
    border-radius: 20px;
    margin-top: 9px;
  }
  .NoteDiv {
    background: #f6fbfe;
    float: left;
    text-align: left;
    width: 85%;
    height: 300px;
    margin-left: 10px;
    border-radius: 20px;
    margin-top: 9px;
  }
  .area {
    background: #f6fbfe;
    width: 100%;
    border: 1px solid #dadadd;
    box-sizing: border-box;
    border-radius: 10px;

    height: 200px;
  }

  .separateCheckbox {
    margin-top: 15%;
  }

  /* ******************All the input fields in information tab*************************** */
  .input {
    background: #f6fbfe;

    border: 1px solid #dadadd;
    box-sizing: border-box;
    border-radius: 10px;
    margin: 15px;
    height: 50px;
  }
  .input1 {
    background: #f6fbfe;

    border: 1px solid #dadadd;
    box-sizing: border-box;
    border-radius: 10px;
    margin: 15px;
    height: 50px;
  }
  .input2 {
    background: #f6fbfe;

    border: 1px solid #dadadd;
    box-sizing: border-box;
    border-radius: 10px;
    margin: 15px;
    height: 50px;
  }
  .input3 {
    background: #f6fbfe;

    border: 1px solid #dadadd;
    box-sizing: border-box;
    border-radius: 10px;
    margin: 15px;
    height: 50px;
  }
  .input4 {
    background: #f6fbfe;

    border: 1px solid #dadadd;
    box-sizing: border-box;
    border-radius: 10px;
    margin: 15px;
    height: 50px;
  }

  /* button component */
  .buttonDiv2 {
    border-radius: 15px;
    background: #f6fbfe;
    width: 100%;
    height: 50px;
    border: 1px solid #dadadd;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    color: #1f3347;
    text-transform: uppercase;
    margin: 15px;
  }
  .buttonDiv3 {
    border-radius: 15px;
    background: #2faae5;
    width: 100%;
    height: 50px;
    border: 1px solid #dadadd;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    color: #ffffff;
    text-transform: uppercase;
    margin: 15px;
  }
}

@media (min-width: 300px) and (max-width: 499px) {
  input {
    margin-top: 5px !important;
    margin-bottom: 5px !important;
  }
  .personalInfo {
    background: #f6fbfe;
    float: left;
    text-align: left;
    width: 100%;
    margin-left: 1px;
    border-radius: 20px;
  }
  .Carelevel {
    background: #f6fbfe;
    float: left;
    text-align: left;
    width: 78%;
    height: 400px;
    margin-left: 1px;
    border-radius: 20px;
    margin-top: 9px;
  }
  .ContactInfo {
    background: #f6fbfe;
    float: left;
    text-align: left;
    width: 100%;
    height: 210px;
    margin-left: 1px;
    border-radius: 20px;
    margin-top: 9px;
  }
  .NoteDiv {
    background: #f6fbfe;
    float: left;
    text-align: left;
    width: 100%;
    height: 300px;
    margin-left: 1px;
    border-radius: 20px;
    margin-top: 9px;
  }
  .area {
    background: #f6fbfe;
    width: 100%;
    border: 1px solid #dadadd;
    box-sizing: border-box;
    border-radius: 10px;

    height: 200px;
  }
  .innercontact {
    margin-left: 20px;
  }
  .separateCheckbox {
    margin-top: 15%;
  }

  /* button component */
  .buttonDiv2 {
    border-radius: 15px;
    background: #f6fbfe;
    width: 80%;
    height: 50px;
    border: 1px solid #dadadd;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    color: #1f3347;
    text-transform: uppercase;
    margin: 15px 15px 15px 0px;
  }
  .buttonDiv3 {
    border-radius: 15px;
    background: #2faae5;
    width: 80%;
    height: 50px;
    border: 1px solid #dadadd;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    color: #1f3347;
    text-transform: uppercase;
    margin: 15px 15px 15px 0px;
  }
  /* ******************All the input fields in information tab*************************** */
  .input {
    background: #f6fbfe;

    border: 1px solid #dadadd;
    box-sizing: border-box;
    border-radius: 10px;
    margin: 10px;
    height: 50px;
  }
  .input1 {
    background: #f6fbfe;

    border: 1px solid #dadadd;
    box-sizing: border-box;
    border-radius: 10px;
    margin: 10px;
    height: 50px;
  }
  .input2 {
    background: #f6fbfe;

    border: 1px solid #dadadd;
    box-sizing: border-box;
    border-radius: 10px;
    margin: 10px;
    height: 50px;
  }
  .input3 {
    background: #f6fbfe;

    border: 1px solid #dadadd;
    box-sizing: border-box;
    border-radius: 10px;
    margin: 10px;
    height: 50px;
  }
  .input4 {
    background: #f6fbfe;

    border: 1px solid #dadadd;
    box-sizing: border-box;
    border-radius: 10px;
    height: 50px;
  }
}
