.class-active {
  font-size: large;
}
.class-active p {
  color: #2faae5 !important;
  border-bottom: 2px solid #2faae5;
}

.navbarLinks {
  margin-top: 10px;
}

.nav-item {
  text-align: left;
  padding: 0 20px;
}

.nav-item p {
  color: #1f3347;
  font-family: "Nunito Sans", sans-serif !important;
  font-size: 16px;
  line-height: 22px;
}

.navbar-nav {
  padding-top: 15px;
}
.navbar-toggle {
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
}

@media (max-width: 900px) {
  .navbar-nav {
    padding: 10px 0;
    margin-left: -20px !important;
  }
  .nav-item p {
    border-bottom: 1px solid #efeff0;
  }
}
