/* Boxes */
.boxes {
  background: #f4f4f5;
  border-radius: 20px;
  height: 110px;
  width:80%;
  margin: 3px;
  position: relative;
}
/* Cart */
.yourCart {
  height: 500px;
  background-color: #edf7fd;
  border-radius: 20px;
}

.boxes svg {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px;
}

/* whitePoducts */
.textComponent {
  text-align: left;
}

/* Icons */
.Icons {
  background-color: #f4f4f5;
  border-radius: 80px;

  width: 50px;
}
.RightText {
  text-align: right;
  margin-top: 15px;
}
.fullLine {
  padding: 10px;
}

/* Header with 3 buttons */
.chooosingBox{
  background-color: #F87433;
  border-radius: 20px;

}
.head{
  margin-top: 12px;
}
@media (min-width:300px) and (max-width:500px) {
  .chooseboxHead{
display: none;
  }
}
