.product-image {
  height: 60px;
  width: 60px;
}

.increment-buttons {
  background-color: #2faae5 !important;
  border-radius: 10px;
  width: 36px;
  height: 36px;
  border: none;
  color: white;
  font-size: 20px;
  align-content: center;
  vertical-align: center;
  padding-bottom: 10px;
}

.counter {
  background: #ffffff !important;
  color: black;
  display: inline-block;
  margin: 0 5px;
}

.sizes {
  width: 30px;
  height: 30px;
  padding: 0;
  border-radius: 0;
  background: #ffffff !important;
  color: black;
}

.cart-sizes {
  background-color: #edf7fd !important;
  border-radius: 0;
  border: none;
  color: black;
}

.fa-times {
  margin-right: -70px;
}

/* MOBILE ADD TO CART */
.mobile-cart-section {
  background: #edf7fd;
  border-radius: 20px;
  padding: 20px;
  margin: 7px 5px;
}

.mobile-cart-image {
  width: 50px;
  height: 50px;
  border-radius: 10px;
}

.mobile-button-area {
  padding-top: 20px;
  padding-bottom: 50px;
}

.react-multi-carousel-dot button {
  background: #2faae5;
  border: 1px solid #2faae5;
}

.react-multi-carousel-dot--active button {
  background: #ffffff !important;
  border: 1px solid black !important;
}

@media (max-width: 400px) {
  .product-name {
    text-align: right;
  }
  .product-image {
    height: 60px;
  }
  .increment-area {
    display: none;
  }
  .cart-section {
  }
  .fa-times {
    font-size: 15px;
    margin-right: -25px;
  }

  .product-name p {
    font-size: 13px;
  }
}